.list-item.TASK_ARCHIVED input[type='text'] {
  color: #4a5568;
  text-decoration: line-through;
}

#storybook-root {
  height: 100vh;
}
.table-container {
  width: 100%;
  table,
  td,
  th {
    border-bottom: 1px solid $color-gray-5;
    border-collapse: collapse !important;
  }

  .badge {
    background: $color-gray-4;
    padding: 4px 8px;
    font-size: 15px;
  }

  .box-type-1 {
    background-color: #fc9c9c;
    width: 100%;
  }

  .box-type-2 {
    width: 100%;
    height: 50px;
  }

  .box-type-3 {
    width: 25%;
    height: 80px;
  }

  .box-type-4 {
    background-color: #ffffff;
    border-radius: 2px;
  }

  .copy-wrapper {
    display: flex;
    align-items: center;
  }

  .copy-icon {
    cursor: pointer;
    font-size: 12px;
    margin-left: 6px;
  }

  .fa-clone {
    color: $color-geekblue-5;
  }
}

html[data-theme='realDark'] {
  color: $color-white !important;
  .table-container {
    .badge {
      color: $color-black !important;
    }
  }
}
