$bg-color: $color-dark; // main bg color
$text-color: $color-white; // main text color
$sub-text-color: rgba(255, 255, 255, 0.25);

html[data-theme="dark"] {
  .filter-form-container {
    .filter-list,
    .filter-form-container,
    .mobile-footer {
      background-color: $bg-color;
      color: $text-color
    }
  }

  .table-tags-container {
    .table-tag {
      background-color: $bg-color;
      color: $text-color
    }
  }

  .basic-table-container {
    :deep(.selection-popup-container) {
      :deep(.ant-alert) {
        background-color: $bg-color;
        color: $text-color;
        box-shadow: unset;
      }
    }
  }

  .card-view-container {
    .img-wrapper {
      color: $sub-text-color
    }
  }
}