@font-face {
  font-family: 'EASTARJET-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/EASTARJET-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  font-family: 'EASTARJET-Medium', sans-serif;
  box-sizing: border-box;
}

html {
  font-family: 'EASTARJET-Medium', sans-serif;
}

body {
  font-family: 'EASTARJET-Medium', sans-serif;
}
