/** ========================================================================== 
 *  Template's utility classes and helpers.
 *  ======================================================================== */

/* Base Color Palettes Helpers
   ========================================================================== */
$colors: (
  'primary': $color-feedback-info,
  'secondary': $color-feedback-secondary,
  'success': $color-feedback-success,
  'warning': $color-feedback-warning,
  'danger': $color-feedback-error,
  'dark': $color-semiDark,
  'white': $color-white,
  'muted': $color-muted
);

@each $name, $value in $colors {
  .bg-#{$name} {
    background-color: $value;
  }
  .text-#{$name} {
    color: $value;
  }
  .border-#{$name} {
    border-color: $value;
  }
  .fill-#{$name} {
    fill: $value;
  }
  .badge-dot-#{$name} .ant-badge-status-dot {
    background-color: $value;
  }
  .ant-tag-#{$name} {
    background-color: $value;
    color: #ffffff;
    border: none;
  }
}

/* Font Helpers
   ========================================================================== */
.font-regular {
  font-weight: $font-weight-normal !important;
}
.font-semibold {
  font-weight: $font-weight-semibold !important;
}
.font-bold {
  font-weight: $font-weight-bold !important;
}
.text-sm {
  font-size: 12px;
}
.text-md {
  font-size: 14px;
}
.text-lg {
  font-size: 16px;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}

/* Margin & Padding
   ========================================================================== */
@for $i from 0 through 10 {
  $j: $i * 5;
  .mt-#{$j} {
    margin-top: #{$j}px !important;
  }
  .mb-#{$j} {
    margin-bottom: #{$j}px !important;
  }
  .ml-#{$j} {
    margin-left: #{$j}px !important;
  }
  .mr-#{$j} {
    margin-right: #{$j}px !important;
  }
  .my-#{$j} {
    @extend .mt-#{$j};
    @extend .mb-#{$j};
  }
  .mx-#{$j} {
    @extend .ml-#{$j};
    @extend .mr-#{$j};
  }
  .m-#{$j} {
    @extend .my-#{$j};
    @extend .mx-#{$j};
  }
}
.mt-auto {
  margin-top: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
.m-auto {
  @extend .mt-auto;
  @extend .mb-auto;
  @extend .ml-auto;
  @extend .mr-auto;
}
.mb-24 {
  margin-bottom: 24px;
}

@for $i from 0 through 10 {
  $j: $i * 5;
  .pt-#{$j} {
    padding-top: #{$j}px !important;
  }
  .pb-#{$j} {
    padding-bottom: #{$j}px !important;
  }
  .pl-#{$j} {
    padding-left: #{$j}px !important;
  }
  .pr-#{$j} {
    padding-right: #{$j}px !important;
  }
  .py-#{$j} {
    @extend .pt-#{$j};
    @extend .pb-#{$j};
  }
  .px-#{$j} {
    @extend .pl-#{$j};
    @extend .pr-#{$j};
  }
  .p-#{$j} {
    @extend .py-#{$j};
    @extend .px-#{$j};
  }
}

/* Height
   ========================================================================== */
.h-full {
  height: 100%;
}

/* Shadow
   ========================================================================== */
$shadows: (
  1: $elevation-1,
  2: $elevation-2,
  3: $elevation-3
);

@each $name, $value in $shadows {
  .shadow-#{$name} {
    box-shadow: $value !important;
  }
}

/* RTL
   ========================================================================== */
.layout-dashboard-rtl {
  .text-right {
    text-align: left;
  }
  .text-left {
    text-align: right;
  }

  @for $i from 0 through 10 {
    $j: $i * 5;
    .ml-#{$j} {
      margin-right: #{$j}px !important;
    }
    .mr-#{$j} {
      margin-left: #{$j}px !important;
    }
    .pl-#{$j} {
      padding-right: #{$j}px !important;
    }
    .pr-#{$j} {
      padding-left: #{$j}px !important;
    }
  }
}
